.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6a0dad;
    padding: 10px;
    color: white;
  }
  
  .cart-icon {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    position: relative;
  }
  
  .cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 14px;
    position: absolute;
    top: -8px;
    right: -10px;
  }
  