<app-header></app-header>

<div class="container d-flex justify-content-center align-items-center">
   <div class="card mt-5" style="width: 900px; background-color: beige;">
      <div class="card-body">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col mt-5">
                <div class="card">
                    <div class="card-body">
                       <div class="row border mt-5">
                       
                            
                    
                         <div class="col d-flex justify-content-center align-items-center">
                           <h4 class=" text-danger">  <a routerLink="elctronic">{{data[0]}}</a> </h4>
                         </div>

                         <div class="col  d-flex justify-content-center align-items-center">
                            <i class="fa fa-television" aria-hidden="true" style="font-size:100px;"></i>

                         </div>
                         
                         
                         <div class="col borderd d-flex justify-content-center align-items-center">
                            <h4 class=" text-danger">  {{data[1]}}</h4>
                          </div>
 
                          <div class="col borderd d-flex justify-content-center align-items-center">
                            <i class="fa fa-diamond text-primary" aria-hidden="true" style="font-size:100px;"></i>

 
                          </div>
                       </div>

                       <div class="row mt-5 border">
                        <div class="col d-flex justify-content-center align-items-center">
                          <h4 class=" text-danger"> {{data[2]}}</h4>
                        </div>

                        <div class="col borderd d-flex justify-content-center align-items-center">
                          
                           <i class="fa fa-male text-info" aria-hidden="true" style="font-size:100px;"></i>

                        </div>
                        <div class="col borderd d-flex justify-content-center align-items-center">
                           <h4 class=" text-danger">  {{data[3]}}</h4>
                         </div>

                         <div class="col borderd d-flex justify-content-center align-items-center">
                          
                           <i class="fa fa-female text-danger" aria-hidden="true" style="font-size:100px;"></i>


                         </div>
                      </div>
                    </div>
                </div>
            </div>
            
        </div>
      </div>
   </div>
</div>